$primary: #ff5400;

$font-light: #fff;

$font-grey: #778;

$font-dark: #212121;

// colores para bordes

$border-light: #fff;
$border-grey-light: #e7e7e7;
$border-grey: #444444;

// fondos 

$background-light: #fff;
$background-greylight: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: #363636;
$background-dark: #151515;
$background-dark-absolute: #212121;

$success: 69af00;

